<div class="center_box">
  <div class="front_box"></div>
  <h1>Add a new Project</h1>

  <%= render 'form', todo: @todo %>
  <div class="buttons big-buttons">
    <%= link_to 'Back Home', root_path %>
  </div>
</div>
